/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
* Arc-Dark Color Scheme
*     Rob-Blue, medium-gray
*/

/* robins blue underline*/
@define-color highlight #5294e2 ;  

/* medium gray */
/* @define-color base1  #404552 ; */

/* mate-darknavy blue */
/* @define-color base1 #0E3653 ; */

/* bluehued-charcoal */
@define-color base1 #23262c ;

/* orange underline */
@define-color highlightwrn #FF9933 ;

/* red underline */
@define-color highlred #ff0000 ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 6;
    min-height: 0;
    margin: 1px;
    padding: 1;
}

/* The whole bar */
#waybar {
    background: transparent;    
    opacity: 0.7;
    color: #bebebe;
    background-color: @base1;
    font-family: UbuntuMono;
    font-size: 15px;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#clock {
    font-weight: 900;
    color: white;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
    border-bottom: 3px solid  @highlightwrn;
}

#battery.critical {
    color: red;
    border-bottom: 3px solid  @highlred;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
    border-bottom: 3px solid  @highlightwrn;
}

#cpu.critical {
    color: red;
    border-bottom: 3px solid  @highlred;

}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
    border-bottom: 3px solid  @highlightwrn;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color: white;
    margin-left: 5px;
    padding: 7px;
}

#network.disconnected {
    color: orange;
    border-bottom: 3px solid  @highlightwrn;
}

#pulseaudio {
    padding-top:6px;
}

#pulseaudio.muted {
    color: @highlight;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
    font-size:16px;
   /* border-bottom: 3px solid  @highlight; */
    color: #6fa8dc;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding:0px;
}

#workspaces button.active {
    border-bottom: 3px solid  @highlight;
    margin-bottom: 1px;
    padding-left:0;
}

#wlr-workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
    color: #9B1D13;
}

#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
    background: #bebebe;
    color: #990099; 
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}
